@tailwind base;
@tailwind components;
@tailwind utilities;

.text-neon {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

.bg-neon {
  background-color: #00ffff;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hover-scale:hover {
  transform: scale(1.03);
  transition: transform 0.3s;
}
